#dark {
  background-color: #212529;
  color: #adb5bd;
}
#light {
  background-color: #fff !important;
  color: #212529 !important;
}
#dark .nav-link,
.navbar,
.navbar-brand {
  color: #adb5bd !important;
}
.App {
  width: 100% !important;
  height: 100vh !important;
  background-color: #212529;
  color: #adb5bd;
  overflow-y: scroll;
}
#dark .card {
  background-color: #3e4451 !important;
  color: #f5f5f5 !important;
}

.card a{
  text-decoration: none !important;
}

#dark .card .card-title,.card-subtitle {
  color: #f5f5f5 !important;
}

#light .card .card-subtitle{
  color: #fff !important;
}
#dark .form-control {
  background-color: #212529 !important;
  color: #adb5bd;
}

#dark .navbar-toggler {
  background-color: transparent !important;
  color: rgba(248, 249, 250, 0.65) !important;
}
